<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 게시글 읽기 화면 -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white text-center">
                        <h2 th:text="${boardVO.title}">게시글 제목</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="text-center">
                                <th scope="row" class="bg-light">번호</th>
                                <td th:text="${boardVO.no}">게시글 번호</td>
                            </tr>
                            <tr class="text-center">
                                <th scope="row" class="bg-light">작성자</th>
                                <td th:text="${boardVO.writer}">작성자 이름</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-light text-center">내용</th>
                                <td th:text="${boardVO.content}" style="height: 300px; white-space: pre-line;" >게시글 내용</td>
                            </tr>
                            </tbody>
                        </table>
                        <div th:if="${session.id != null && session.id == boardVO.writer}">
                            <div class="d-grid mt-4" >
                                <a th:href="@{/board/update(no=${boardVO.no})}" class="btn btn-outline-success btn-lg">게시글 수정</a>
                            </div>
                            <div class="d-grid mt-4">
                                <a th:href="@{/board/delete(no=${boardVO.no})}" class="btn btn-outline-success btn-lg">게시글 삭제</a>
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <a href="/board/board" class="btn btn-secondary">목록으로 돌아가기</a>
                        </div>
                    </div>
                </div>

                <!-- 댓글 리스트 -->
                <div class="card shadow-sm mt-5  bg-light">
                    <div class="card-body">
                        <h5 class="mb-3">댓글 목록</h5>
                        <ul class="list-group" id="replyList">

                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
                            <li class="list-group-item"
                                th:id = "'reply' + ${replyVO.id}"
                                th:each="replyVO : ${list}">
                                <!-- 댓글 하나 하나에 li태그에 id를 부여하자.."reply"+reply아이디 -->
                                <!-- 댓글 추가와 댓글 삭제시 화면에 추가하거나 제거하는 대상이 됨. -->
                                <div class="d-flex justify-content-between">
                                    <span><strong th:text="${replyVO.writer}">작성자</strong></span>
                                    <div th:if="${session.id != null && session.id == replyVO.writer}">
                                        <!--  button클릭시 함수호출하면서
                                               해당row의 버튼 객체(this)를 함께 전달해
                                               함수 내에서
                                               버튼내의 data설정값인 replyid를 추출할 수 있음. -->
                                        <button
                                                class="btn btn-outline-dark"
                                                th:data-replyid="${replyVO.id}"
                                                onclick="updateReply(this)">수정</button>
                                        <!-- 함수명(this)라고 하면 함수가 불러진 태그객체가 전달됨.
                                             자바스크립트에서 button속성값, 텍스값들을 추출해서 쓸 수 있음.
                                        -->
                                        <button
                                                class="btn btn-outline-dark"
                                                th:data-replyid = "${replyVO.id}"
                                                onclick="deleteReply(this)">삭제</button>
                                    </div>
                                    <p class="mt-2"
                                       th:id = "'p' + ${replyVO.id}"
                                       th:text="${replyVO.content}">댓글 내용</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div></div></div></div>
<th:block layout:fragment="script">
    <!-- 자바 스크립트 끼워지는 부분 -->
    <script>
        //함수가 정의되어있는데 찾지 못하면
        //리프레쉬(캐쉬삭제 효과), 함수 재명명 해줄 것.!
        function postReply() {
            //        INSERT INTO reply(ORIID, CONTENT, WRITER)
            //        VALUES (#{oriid}, #{content}, #{writer})
            //oriid ==> ${boardVO.no}
            //content ==> document.getElementById("replyContent").value
            //writer ==> ${session.id}

            const loginId = '[[${session.id}]]';
            const replyContent = document.getElementById("replyContent").value;
            console.log("loginId >> " + loginId + ", " + "replyContent >> " +replyContent);
            if(replyContent.length == 0){
                alert("댓글을 입력해주세요.");
                return;
            }
            if (replyContent) {
                //주소뒤에 /reply/create2/
                // ===> 맨 뒤에 /붙이면 XXXXXX

                axios.post("/reply/create2", {
                    writer: loginId,
                    content: replyContent,
                    oriid: '[[${boardVO.no}]]'
                })
                    .then(response => {
                        if (response.data != 0) {
                            alert('댓글이 저장되었습니다.');
                            document.getElementById("replyContent").value = "";

                            //id가 "replyid번호"인 것을 아래 추가하자
                            let replyId = response.data;

                            const rowId = 'reply' + replyId;

                            //여러줄의 텍스트를 넣을 때는 `(백팃)사용함.
                            //동적으로 생성되는 코드는 서버측 처리기술(타임리프)를 쓸 수 없음.
                            //'백팃 사이에 ${자바스크립트변수명}하면 변수값이 출력됨.

                            //<li class="list-group-item"
                            const addRow = document.createElement("li");
                            addRow.className = "list-group-item";
                            addRow.innerHTML = `
                                            <div class="d-flex justify-content-between align-items-center'>">
                                            <span><strong>${loginId}</strong></span>
                                            <button data-replyid="${replyId}"
                                                    onclick="updateReply(this)"
                                                    class="btn btn-outline-dark">수정</button>
                                            <button data-replyid="${replyId}"
                                                    onclick="deleteReply(this)"
                                                    class="btn btn-outline-dark">삭제</button>
                                        </div>
                                        <p id="p${replyId}" class="mt-2">${replyContent}</p>
                                        `;
                            const replyList = document.getElementById('replyList');
                            replyList.appendChild(addRow);
                            location.reload();
                            //특정 부분만 리로딩하려면 데이터를 서버로 부터 받아와서
                            //해당 부분만 리로딩해야함.
                        } else {
                            alert('댓글 추가에 실패했습니다.');
                        }
                    }).catch(error => {
                    console.error('댓글 추가 오류:', error);
                    alert('댓글 추가에 실패했습니다.');
                }); //axios
            } //if
        }//submitReply

        function deleteReply(button) {
            //this ---> button
            //button내의 data로 설정한 replyid값을 꺼낼 수 있음.
            //이때 dataset.속성명은 소문자이여야함.
            //th:data-replyid="${replyVO.id}" ---> th:data-replyid="1"

            const replyId = button.dataset.replyid;
            alert("replyId " + replyId);

            if (replyId) {
                //@DeleteMapping("delete/{id}")

                axios.delete("/reply/delete/" + replyId)
                    .then(response => {
                        if (response.data) {
                            alert('댓글이 삭제되었습니다.');
                            alert("삭제할 id= " + ('reply' + replyId));

                            //id가 "replyid번호"인 것을 삭제하자.
                            const replyElement = document.getElementById('reply' + replyId);
                            replyElement.remove();  //해당 노드 삭제, 비교)empty()하위 객체 삭제
                        } else {
                            alert('댓글 삭제에 실패했습니다.');
                        }
                    }).catch(error => {
                    console.error('댓글 삭제 오류:', error);
                    alert('댓글 삭제에 실패했습니다.');
                }); //axios
            } //if
        } //delete

        function updateReply(button) {
            //update reply set content = 내용 where id = 아이디;
            //---> id, content필요.
            //클라이언트에서 찾아서 서버의 컨트롤러에 2개의 데이터를 전달해야함.

            //입력한 수정할 내용
            const updatedContent = prompt('수정할 내용을 입력하세요:');
            //댓글 아이디
            const replyId = button.dataset.replyid;

            if (updatedContent) {
                axios.put('/reply/update', {
                    id: replyId,
                    content: updatedContent
                }).then(response => {
                    if (response.data) {
                        alert('댓글이 수정되었습니다.');
                        alert('reply' + replyId);

                        //id가 "replyid번호"인 곳 안쪽에 id가 "preplyid번호"인 곳에 내용을 수정해서 넣자.
                        const replyElement = document.getElementById('reply' + replyId);
                        document.getElementById('p' + replyId).textContent = updatedContent;
                    } else {
                        alert('댓글 수정에 실패했습니다.');
                    }
                }).catch(error => {
                    console.error('댓글 수정 오류:', error);
                    alert('댓글 수정에 실패했습니다.');
                }); //axios
            } //if
        } //update

    </script>
</th:block>
</html>